# Python
__pycache__/
*.pyc
venv/
dist/
build/

# Data & Runs
/runs/
/temp_data/
*.mp4
/data/raw_images/
/data/images/train/*
!/data/images/train/.gitkeep
/data/images/val/*
!/data/images/val/.gitkeep
/data/labels/train/*
!/data/labels/train/.gitkeep
/data/labels/val/*
!/data/labels/val/.gitkeep

# IDEs
.idea/
.vscode/
